spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          enabled: true
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/users/**
            - id: activity-service
              uri: lb://activity-service
              predicates:
                - Path=/api/activities/**
            - id: ai-service
              uri: lb://ai-service
              predicates:
                - Path=/api/recommendation/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    enabled: true
  instance:
    preferIpAddress: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true
