spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 8081

logging:
  level:
    com.fitness_microservices: DEBUG
    org.springframework.cloud.netflix.eureka: DEBUG
